<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- bean definitions here -->
	<!-- 如果在Service中没有使用@Service，则需要在这里加上这个bean -->
	<!-- <bean id="hello" class="spring02.com.service.impl.HelloServiceImpl"/> -->

	<!-- 自动扫描 -->
	<!-- 方式一：只有一个自动扫描的包的时候 -->
	<!-- <context:component-scan base-package="spring02.com.service"/> -->

	<!-- 方式二：当有多个包需要自动扫描的时候 -->
	<!-- <context:component-scan base-package="spring02.com.service,spring02.com.aspect" /> -->

	<!-- 启用自动代理 -->
	<aop:aspectj-autoproxy />
	
	<!-- 指定数据源配置properties -->  
    <context:property-placeholder location="classpath:db.properties"/>
	<!-- 使用spring创建一个演示用的dataSource实现 ，以后可以换成c3p0或者其他的dataSource-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.Url}"/>
        <property name="user" value="${jdbc.userName}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
</beans>